############################
# OS X
############################

plataforma/.DS_Store
plataforma/.AppleDouble
plataforma/.LSOverride
plataforma/Icon
plataforma/.Spotlight-V100
plataforma/.Trashes
plataforma/._*


############################
# Linux
############################

*~


############################
# Windows
############################

plataforma/Thumbs.db
plataforma/ehthumbs.db
plataforma/Desktop.ini
plataforma/$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

plataforma/.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
plataforma/ssl
plataforma/.idea
plataforma/nbproject
plataforma/!public/uploads/*
plataforma/!public/uploads/.gitkeep

############################
# Node.js
############################

plataforma/lib-cov
plataforma/lcov.info
plataforma/pids
plataforma/logs
plataforma/results
plataforma/node_modules
plataforma/.node_history

############################
# Tests
############################

plataforma/testApp
plataforma/coverage

############################
# Strapi
####ddd########################
node_modules
package.json
package-lock.json
plataforma/.env
plataforma/license.txt
plataforma/exports
*.cache
plataforma/dist
plataforma/build
.strapi-updater.json
