<!DOCTYPE html>
<html lang="pt">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Redefinir a senhas - GeoVespa</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/css/app.min.css">
  <link rel="stylesheet" href="/assets/bundles/bootstrap-social/bootstrap-social.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets/css/custom.css">

  <link rel="stylesheet" href="/assets/css/geovespa.css" />

  <link rel="stylesheet" href="/assets/bundles/izitoast/css/iziToast.min.css">

  <link rel='shortcut icon' type='image/x-icon' href='/assets/images/favicon.png' />

</head>

<body>

  <div id="app">
    <section class="section mt-5">
      <div class="container mt-5">
        <div class="row ">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header d-flex flex-col">

                <a href="/" class="text-decoration-none d-flex justify-content-between">


                    <h4>CIM-TTM</h4>

                    <img
                    src="/assets/images/logo/logo-white.svg"
                    alt="logo"
                    class=" ui_auth_login_img"
                  />
                </a>


              </div>
              <div class="card-body">
                <h5>Utilizador: (<%= user.username %>)</h5>


                <form @submit="login" class="needs-validation" novalidate="">

                  <div class="form-group">

                    <input v-model="password" id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>

                  <div class="form-group">
                    <input v-model="passwordConfirmation" id="password1" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Entrar
                    </button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assets/js/custom.js"></script>

  <script src="/js/vue.js"></script>
  <script src="/js/axios.js"></script>
  <script>
      let code = '<%=code %>'
  </script>

  <script type="module" src="/js/page/auth/newpassword.js"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>